<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
      <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Project name</a>
      <div id="navbar">
        <nav class="nav navbar-nav pull-xs-left">
          <li router-active="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/user']">User</a>
          </li>
          <li router-active="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/role']">Role</a>
          </li>
          <li router-active="active" class="nav-item">
            <a class="nav-link" href="#">Last link</a>
          </li>
          <li router-active="active" class="nav-item">
            <a class="nav-item nav-link" href="#">Help</a>
          </li>
        </nav>
        <nav class="nav navbar-nav pull-xs-right">
          <li router-active="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/user']">Logged In User</a>
          </li>
        </nav>
      </div>
    </nav>